<header>
    <div class="logo">
      <a href="index.html">
        <img src="images/logo.png" alt="Scrum Zoo Logo">
        <h4>Scrum Zoo</h4>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="funfacts.html">Fun Facts</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="pop.html">Pop Culture</a></li>
        <li> <a href="mating.html">Mating</a></li>
        <li>                <a href="habitat.html">Habitat</a></li>
<li><a href="anatomy.html">Anatomy</a></li>
<li><a href="behaviour.html">Behaviour</a></li>

      </ul>
    </nav>
  </header>
